.about {
  padding: 8rem 7rem;
  background-color: $general-light-color;
  color: $font-color-dark;

  &__title {
    font-size: 8rem;
    width: 80%;
    margin-bottom: 4rem;
  }

  &__text {
    font-size: 3rem;
    margin-bottom: 5rem;
    line-height: 5rem;
  }
}
