.about {
  padding: 8rem 7rem;
  background-color: $general-light-color;
  color: $font-color-dark;

  @media (max-width: 2200px) {
    padding: 5rem;
  }

  @media (max-width: 430px) {
    padding: 3rem 2rem;
  }

  @media (max-height: 690px) {
    padding: 2rem 2rem;
  }

  &__title {
    font-size: 80%;
    width: 70%;
    margin-bottom: 4rem;

    @media (max-width: 1400px) {
      line-height: 5rem;
    }

    @media (max-height: 690px) {
      margin-bottom: 1.5rem;
      line-height: 3.5rem;
    }

    @media (max-height: 520px) {
      line-height: 2.5rem;
      font-size: 60%;
      width: 100%;
    }
  }

  &__text {
    font-size: 30%;
    margin-bottom: 5rem;
    line-height: 5rem;

    @media (max-width: 2200px) {
      line-height: 4rem;
    }

    @media (max-width: 1700px) {
      margin-bottom: 0;
      line-height: 2rem;
    }
  }
}
