.burger {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out, transform 0.3s ease;
  cursor: pointer;
  z-index: 3;

  &__nav {
    position: absolute;
    top: -100%;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    transition: top 1s ease-in-out;
  }

  &.open {
    transform: translate(-8px, -2px);

    & + .burger__nav {
      top: 11%;
      transition: top 1s ease-in-out;

      @media (max-width: 1400px) {
        top: 7%;
      }
    }
  }

  &__dot {
    display: block;
    position: absolute;
    height: 0.7rem;
    width: 0.7rem;
    background: $font-color-dark;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    @media (max-width: 1200px) {
      height: 0.4rem;
      width: 0.4rem;
    }
  }

  &__dot:nth-child(even) {
    left: 50%;
  }

  &__dot:nth-child(odd) {
    left: 0;
  }

  &__dot:nth-child(1),
  &__dot:nth-child(2),
  &__dot:nth-child(3) {
    top: 0;
  }

  &__dot:nth-child(4),
  &__dot:nth-child(5),
  &__dot:nth-child(6) {
    top: 20px;

    @media (max-width: 1400px) {
      top: 15px;
    }
  }

  &__dot:nth-child(7),
  &__dot:nth-child(8),
  &__dot:nth-child(9) {
    top: 40px;

    @media (max-width: 1400px) {
      top: 30px;
    }
  }

  &__dot:nth-child(3) {
    left: 100%;
  }

  &__dot:nth-child(6) {
    left: 100%;
  }

  &__dot:nth-child(9) {
    left: 100%;
  }

  &.open &__dot {
    @media (max-width: 1200px) {
      height: 0.3rem;
    }

    &:nth-child(even) {
      height: 0.7rem;
    }
  }

  &.open &__dot:nth-child(2),
  &.open &__dot:nth-child(4),
  &.open &__dot:nth-child(6),
  &.open &__dot:nth-child(8) {
    transform: rotate(45deg);
    opacity: 0.25;
  }

  &.open &__dot:nth-child(1) {
    width: 30px;
    transform: rotate(45deg);
    left: -1px;
    top: 8px;

    @media (max-width: 1400px) {
      width: 20px;
      left: 7px;
      top: 10px;
    }

    @media (max-width: 1200px) {
      width: 15px;
      left: 11px;
      top: 11px;
    }
  }

  &.open &__dot:nth-child(2) {
    top: -20px;

    @media (max-width: 1400px) {
      top: -7px;
      left: 23px;
    }

    @media (max-width: 1200px) {
      top: 0;
    }
  }

  &.open &__dot:nth-child(3) {
    width: 30px;
    transform: rotate(-45deg);
    left: 22px;
    top: 8px;

    @media (max-width: 1400px) {
      width: 20px;
      left: 24px;
      top: 10px;
    }

    @media (max-width: 1400px) {
      width: 15px;
      left: 24px;
      top: 12px;
    }
  }

  &.open &__dot:nth-child(4) {
    left: 144%;

    @media (max-width: 1400px) {
      top: 17px;
    }

    @media (max-width: 1400px) {
      left: 134%;
    }
  }

  &.open &__dot:nth-child(5) {
    left: 50%;
    transform: rotate(45deg);

    @media (max-width: 1400px) {
      left: 77%;
      top: 18px;
    }
  }

  &.open &__dot:nth-child(6) {
    left: -50%;

    @media (max-width: 1400px) {
      left: -7%;
      top: 17px;
    }

    @media (max-width: 1400px) {
      left: 21%;
    }
  }

  &.open &__dot:nth-child(7) {
    width: 30px;
    transform: rotate(-45deg);
    left: -1px;
    top: 31px;

    @media (max-width: 1400px) {
      width: 20px;
      left: 7px;
      top: 26px;
    }

    @media (max-width: 1400px) {
      width: 15px;
      left: 12px;
      top: 24px;
    }
  }

  &.open &__dot:nth-child(8) {
    top: 60px;

    @media (max-width: 1400px) {
      top: 41px;
      left: 23px;
    }

    @media (max-width: 1400px) {
      top: 34px;
    }
  }

  &.open &__dot:nth-child(9) {
    width: 30px;
    transform: rotate(45deg);
    left: 52%;
    top: 32px;

    @media (max-width: 1400px) {
      width: 20px;
      left: 78%;
      top: 27px;
    }

    @media (max-width: 1400px) {
      width: 15px;
      left: 80%;
      top: 25px;
    }
  }
}
