.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 11%;

  @media (max-width: 1400px) {
    height: 7%;
  }

  @media (max-height: 690px) {
    height: 13%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0 8rem;
    height: 100%;
    background-color: $header-wrapper-bgcolor;

    @media (max-width: 1400px) {
      padding: 0 4rem;
    }

    @media (max-width: 730px) {
      padding: 0 2rem;
    }
  }

  &__logo {
    padding: 2.5rem 0;
    font-size: 3rem;
    font-weight: 300;
    color: $font-color-dark;

    @media (max-width: 430px) {
      font-size: 2em;
    }
  }

  &__language {
    font-size: 2rem;

    @media (max-width: 800px) {
      font-size: 1.5rem;
    }

    @media (max-width: 430px) {
      font-size: 1em;
    }
  }

  &__burger {
    width: 30px;
    height: 40px;
    margin-right: 100px;

    @media (max-width: 1400px) {
      margin-right: 45px;
    }
  }
}
