.language {
  display: flex;
  justify-content: center;
  padding: 0 25px;

  &__radio {
    position: relative;
    left: 15px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  &__label {
    opacity: 0.25;
  }

  &__label:nth-of-type(2) {
    position: relative;
    right: 10px;
  }

  &__label:nth-of-type(1) {
    margin-right: 3px;
  }

  &__radio:checked + &__label {
    color: $font-color-dark;
    opacity: 1;
  }

  &__radio:nth-of-type(2) {
    left: 5px;
  }
}
