.language {
  display: flex;
  justify-content: center;
  padding: 0 25px;

  @media (max-width: 430px) {
    padding: 0;
  }

  &__radio {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  &__label {
    opacity: 0.25;
  }

  &__label:nth-of-type(1) {
    margin-right: 3px;
  }

  &__radio:checked + &__label {
    color: $font-color-dark;
    opacity: 1;
  }
}
