.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: url(./../images/intro_img.png) no-repeat;
  background-size: cover;
  height: calc(100vh - 96px);
  position: absolute;
  top: 96px;
  bottom: 0;
  left: 0;
  right: 0;

  &__wrapper {
    height: 100%;
  }

  &__link {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    margin-right: 28rem;
  }

  &__about {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    z-index: 1;
    margin-left: 18rem;
  }

  &__slider {
    grid-column: 2;
    grid-row: 4;
  }
}
