.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url(./../images/intro_img.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 89%;
  font-size: 10rem;
  overflow: hidden;

  @media (max-width: 2100px) {
    font-size: 8rem;
  }

  @media (max-width: 2100px) {
    font-size: 7rem;
  }

  @media (max-width: 1700px) {
    font-size: 6rem;
  }

  @media (max-width: 1400px) {
    height: 93%;
  }

  @media (max-width: 1100px) {
    font-size: 5rem;
  }

  @media (max-width: 595px) {
    grid-template-columns: 1fr;
  }

  @media (max-height: 690px) {
    font-size: 4rem;
    height: 87%;
  }

  &__wrapper {
    height: 100%;
  }

  &__link {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    margin-right: 28rem;

    @media (max-width: 1100px) {
      margin-right: 15rem;
    }

    @media (max-width: 730px) {
      margin-right: 8rem;
    }

    @media (max-width: 595px) {
      grid-column: 1;
      grid-row: 4;
      align-self: center;
      justify-self: stretch;
      margin: 0 3rem 0 2rem;
    }
  }

  &__about {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    z-index: 1;
    margin-left: 18rem;

    @media (max-width: 1700px) {
      margin-left: 8rem;
    }

    @media (max-width: 1400px) {
      margin-left: 6rem;
    }

    @media (max-width: 730px) {
      margin-left: 4rem;
    }

    @media (max-width: 595px) {
      grid-column: 1;
      grid-row: 3;
      margin: 0 2rem;
    }

    @media (max-height: 520px) {
      margin-left: 1rem;
    }
  }

  &__slider {
    grid-column: 2;
    grid-row: 4;

    @media (max-width: 595px) {
      grid-column: 1;
      grid-row: 2;
      margin: 0 2rem;
    }
  }
}
